/* Importieren Sie die Schriftart "Source Sans Pro" */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif; /* Schriftart aktualisiert */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    height: 800px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 2rem;
}

textarea {
    width: 100%;
    font-size: 1rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    resize: vertical;
    min-height: 450px; /* Ändern Sie den Wert für die gewünschte Größe */
    font-family: 'Roboto', sans-serif; /* Schriftart hinzugefügt */
}

select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}


select {
    width: 100%;
    max-width: 300px; /* Setzen Sie die gewünschte maximale Breite für das Dropdown-Menü */
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #f9f9f9;
    color: #333;
    margin-bottom: 1rem;
}

.top-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.context-toggle {
    background-color: #0ECAFC; /* Hauptfarbe aktualisiert */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 12px;
}

details {
    margin-top: 20px;
}

details p {
    margin: 0;
    padding: 0;
}

details ol {
    margin-top: 5px;
}

/* API-Key-Popup */
#api-key-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.api-key-popup h4 {
    margin: 0 0 1rem;
}

.api-key-popup input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.api-key-popup button {
    background-color: #0ECAFC;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 10px 24px;
    border-radius: 12px;
    width: 100%;
}

.api-key-popup button:hover {
    background-color: #0ECAFC;
}

.instructions-container {
    border-top: 1px solid #ccc;
    padding-top: 1rem;
    margin-top: 1rem;
}

.instructions-toggle {
    cursor: pointer;
    color: #56a5ec; /* Hauptfarbe aktualisiert */
    text-decoration: underline;
}

.instructions {
    display: none;
    margin-top: 1rem;
}

.input-field {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .save-btn {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-btn:hover {
    background-color: #45a049;
  }
  
/* Header */

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-right: 1rem;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
}

.menu a:hover {
    color: #56a5ec; /* Hauptfarbe aktualisiert */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    background-color: #f9f9f9; /* Hintergrundfarbe des Headers aktualisiert */
    z-index: 1000;
}


#small-logo {
    width: 175px;
    height: auto;
}

.input_container {
    border: 1px solid #ccc;
    border-radius: 8px; /* Ecken abrunden */
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Moderner Schatten */
    margin-bottom: 1rem; /* Abstand zum nächsten Element */
    position: relative;
    width: 100%;
}

/* Erstellen Sie einen Fokus-Effekt für den input_container, wenn ein darin enthaltenes Eingabefeld fokussiert ist */
.input_container:focus-within {
    border-color: #56a5ec; /* Hauptfarbe aus Ihrem CSS-Code */
    box-shadow: 0 0 0 3px rgba(86, 165, 236, 0.3); /* Ring um den Container in der Hauptfarbe, wenn ein Element fokussiert ist */
}



.context-input {
    border: 1px solid #ccc;
    border-radius: 8px; /* Ecken abrunden */
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Moderner Schatten */
    margin-bottom: 1rem; /* Abstand zum nächsten Element */
}

/* Erstellen Sie einen Fokus-Effekt für den input_container, wenn ein darin enthaltenes Eingabefeld fokussiert ist */
.context-input:focus-within {
    border-color: #56a5ec; /* Hauptfarbe aus Ihrem CSS-Code */
    box-shadow: 0 0 0 3px rgba(86, 165, 236, 0.3); /* Ring um den Container in der Hauptfarbe, wenn ein Element fokussiert ist */
}