<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>type on AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/writealong.png') }}" class="logo" id="small-logo">
            </a>
            <ul class="menu desktop-menu">
                <li><a href="{{ url_for('usecases') }}">Funktionalität</a></li>
                <li><a href="{{ url_for('features') }}">Features</a></li>
                <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
                <li><a href="{{ url_for('ai') }}">AI</a></li>
                <li style="position: relative;">
                    <button id="change-api-key" class="menu-button" style="cursor: not-allowed; opacity: 0.6;" disabled>
                      API-Key
                    </button>
                    <span style="visibility: hidden; width: 250px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -125px; opacity: 0; transition: opacity 0.3s;" title="Der API-Key kann nur auf der Hauptseite geändert werden">
                    </span>
                </li>  
            </ul>
        </nav>
    </header>  
    <div class="container">
        <h3>Was sind die Features?</h3>
    
        <p>
            Entdecken Sie diese innovative Anwendung, die Ihre Texteingabe automatisch vervollständigt und Sie bei der Erstellung wissenschaftlicher und professioneller Texte unterstützt. Die App nutzt modernste KI-Technologie, um ein präzises und effizientes Schreiberlebnis zu ermöglichen, während sie sich selbst nicht allzu ernst nimmt. Im Folgenden finden Sie eine Übersicht der Funktionen, die diese App bereitstellt: <br><br>
            <ul>
                <li><b>Textvervollständigung</b>: Die Anwendung analysiert Ihre Eingabe und vervollständigt sie, um den nächsten Satz in Ihrem Text vorherzusagen. Ob Sie an einem Forschungsartikel, einer E-Mail oder einem Bericht arbeiten – die App hilft Ihnen, Zeit zu sparen.</li><br>
            
                <li><b>Kontextsensitive Vorhersagen</b>: Durch die Eingabe von Kontextinformationen passt die App ihre Vorhersagen entsprechend an, um genauere und relevantere Vorschläge zu generieren. Keine Sorge, die App versteht Ihren Kontext besser als mancher Kommilitone.</li><br>
            
                <li><b>Individuelle KI-Einstellungen</b>: Passen Sie das KI-Modell, die Token-Size und die Kreativität an, um die Art von Vorschlägen zu erhalten, die Ihren spezifischen Anforderungen entsprechen. Die Anwendung bietet die notwendige Flexibilität, um auf individuelle Bedürfnisse einzugehen.</li><br>
            
                <li><b>Code-Vervollständigung</b>: Die App unterstützt Sie nicht nur bei der Texterstellung, sondern auch bei der Programmierung, indem sie den nächsten Teil Ihres Codes automatisch vervollständigt. Sie ist wie ein stummer Kommilitone, der Ihnen immer zur Seite steht, wenn Sie ihn brauchen. Leider kann der Komminiltone nicht so gut programmieren, wie sie es sich wünschen :(</li><br>
            
                <li><b>Intuitive Benutzeroberfläche</b>: Die klar strukturierte und benutzerfreundliche Oberfläche der App ermöglicht es Ihnen, ohne Umwege produktiv zu sein. Navigieren Sie einfach durch die verschiedenen Funktionen und Einstellungen, um das Beste aus Ihrer Schreib- oder Programmierarbeit herauszuholen.</li><br>
            </ul>
            Testen Sie diese leistungsstarke Anwendung, um Ihre Produktivität zu erhöhen und Ihnen bei der Erstellung präziser und aussagekräftiger Texte zu helfen. Erfahren Sie selbst, wie effizient und zielgerichtet das Schreiben mit Unterstützung modernster KI-Technologie sein kann. Hoffentlich jedenfalls.
            </p>
            
    </div>
    
    <script>