<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>type on AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    </head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/writealong.png') }}" class="logo" id="small-logo">
            </a>
            <ul class="menu">
                <li><a href="{{ url_for('usecases') }}">Wie funktionierts?</a></li>
                <li><a href="{{ url_for('features') }}">Was sind die Features?</a></li>
                <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
                <li><a href="{{ url_for('ai') }}">AI</a></li>
                <li><button id="change-api-key" class="menu-button">API-Key ändern</button></li>
            </ul>
        </nav>
    </header>
    <div id="api-key-popup" class="popup-container">
        <div class="popup">
            <button id="close-popup" class="close-btn" style="float: right;">&times;</button>
            <h3>OpenAI API Key eingeben</h3>
            <input type="text" id="api-key-input" class="input-field" placeholder="Geben Sie Ihren API Key hier ein" />
            <button id="save-api-key" class="save-btn">Speichern</button>
            <details>
                <summary>Wie erhalte ich einen OpenAI API Key?</summary>
                <p>
                    Um einen OpenAI API Key zu erhalten, müssen Sie die folgenden Schritte ausführen:
                </p>
                <ol>
                    <li>Besuchen Sie die <a href="https://beta.openai.com/signup/" target="_blank">OpenAI-Registrierungsseite</a> und erstellen Sie ein Konto, falls Sie noch keines haben.</li>
                    <li>Nachdem Sie sich angemeldet haben, navigieren Sie zur <a href="https://beta.openai.com/account/api-keys/" target="_blank">API Keys Seite</a>.</li>
                    <li>Klicken Sie auf "Create API Key" und geben Sie einen Namen für den Schlüssel ein. Nachdem Sie den Schlüssel erstellt haben, wird er Ihnen angezeigt.</li>
                    <li>Kopieren Sie den API-Schlüssel und fügen Sie ihn in das Eingabefeld oben ein.</li>
                </ol>
            </details>
        </div>
    </div>    
    <div class="container">
        <h3>Textvervollständigung mit "TAB"</h3><p>powered by AI</p>
        <div class="top-row">
            <select id="input_mode">
                <option value="text" selected>Text</option>
                <option value="code">Code &#040;BETA&#041;</option>
            </select>
            <select id="gpt_model">
                <option value="text-davinci-002" selected>GPT-3.5-turbo (Empfohlen)</option>
                <option value="text-curie-001">Curie</option>
            </select>
            <select id="max_tokens">
                <option value="" disabled selected>Länge des Vorschlags</option>
                <option value="4">4 Tokens (1-2 Wörter)</option>
                <option value="20">20 Tokens (Sehr kurz)</option>
                <option value="40">40 Tokens (Kurz)</option>
                <option value="80" selected>80 Tokens (Empfohlen)</option>
                <option value="160">100 Tokens (Lang)</option>
                <option value="320">120 Tokens (Sehr lang)</option>
            </select>
            <select id="temperature">
                <option value="" disabled selected>Kreativität des Vorschlags</option>
                <option value="0.2">0.2 (Sehr konservativ)</option>
                <option value="0.4">0.4 (Konservativ)</option>
                <option value="0.7" selected>0.7 (Empfohlen)</option>
                <option value="1.0">1.0 (Kreativ)</option>
                <option value="1.5">1.5 (Sehr kreativ)</option>
            </select>            
            <button id="toggle_context" class="context-toggle">Kontext hinzufügen</button>
        </div>
        <div class="context-container">
            <textarea id="context_text" class="context-input" placeholder="Geben Sie hier Kontextinformationen ein, die bei der Vorhersage der Vorschläge berücksichtigt werden sollen.&#10;&#10;GPT-3.5-turbo (davinci 002) hat eine maximale Token-Grenze von 4096 Tokens. Ein Token kann ein Wort oder ein Teil eines Wortes sein. Es kann auch Leerzeichen, Zeilenumbrüche oder Satzzeichen umfassen." style="display: none;"></textarea>
        </div>               
        <div id="input_container" class="input_container">
            <textarea id="input_text" placeholder="Geben Sie hier Ihren Text ein!&#10;&#10;Vervollständigen Sie ihren Text mit TAB&#10;&#10;&#10;Powered by GPT 3.5 - text-davinci-002"></textarea>
            <span id="suggestion" class="suggestion"></span>
        </div>
        <div class="top-buttons">
            <button id="complete_button" class="context-toggle">Regenerate</button>
            <button id="copy_button" class="context-toggle">Kopieren</button>
        </div>
    </div>
    <script>

        var timeout;

        function updateSuggestion() {
            clearTimeout(timeout);
            timeout = setTimeout(function () {
                var inputText = codeMirrorInstance ? codeMirrorInstance.getValue() : $("#input_text").val();
                var contextText = $("#context_text").val();
                $.post('/complete', {input_text: inputText, context_text: contextText, ...getSettings()}, function(data) {
                    if (data.completions.length > 0) {
                        $("#suggestion").text(data.completions[0]);
                    } else {
                        $("#suggestion").text("");
                    }
                });
            }, 500);
        }

        $("#input_text").on("input", updateSuggestion);

        $(document).on("keydown", function(event) {
            if (event.key === "Tab") {
                event.preventDefault();
                var suggestedText = $("#suggestion").text();
                if (codeMirrorInstance) {
                    var currentText = codeMirrorInstance.getValue();
                    if (!currentText.endsWith(' ') && !suggestedText.startsWith('.') && !suggestedText.startsWith(',')) {
                        suggestedText = ' ' + suggestedText;
                    }
                    codeMirrorInstance.replaceSelection(suggestedText);
                } else {
                    var currentText = $("#input_text").val();
                    if (!currentText.endsWith(' ') && !suggestedText.startsWith('.') && !suggestedText.startsWith(',')) {
                        suggestedText = ' ' + suggestedText;
                    }
                    $("#input_text").val(currentText + suggestedText);
                }
                $("#suggestion").text("");
            }
        });

        $("#complete_button").click(updateSuggestion);

        $("#copy_button").click(function() {
            $("#input_text").select();
            document.execCommand("copy");
        });

        var codeMirrorInstance;

        function switchToText() {
            if (codeMirrorInstance) {
                var code = codeMirrorInstance.getValue();
                codeMirrorInstance.toTextArea();
                codeMirrorInstance = null;
                $("#input_text").val(code);
            }
        }

        function switchToCode() {
            if (!codeMirrorInstance) {
                codeMirrorInstance = CodeMirror.fromTextArea(document.getElementById("input_text"), {
                    lineNumbers: true,
                    mode: "text/plain"
                });
                codeMirrorInstance.on("change", function() {
                    updateSuggestion();
                });
            }
        }

        $("#input_mode").on("change", function() {
            var mode = $(this).val();
            if (mode === "text") {
                switchToText();
            } else if (mode === "code") {
                switchToCode();
            }
        });

        $("#toggle_context").click(function () {
            var $contextText = $("#context_text");
            if ($contextText.is(":visible")) {
                $contextText.slideUp(400, "swing");
                $(this).text("Kontext hinzufügen");
            } else {
                $contextText.slideDown(400, "swing");
                $(this).text("Kontext ausblenden");
            }
        });

        function showAPIKeyPopup() {
            $("#api-key-popup").show();
        }

        function hideAPIKeyPopup() {
            $("#api-key-popup").hide();
        }

        function saveAPIKey() {
            var apiKey = $("#api-key-input").val();
            if (apiKey) {
                localStorage.setItem("openai_api_key", apiKey);
                $.post("/set-api-key", { api_key: apiKey }, function (data) {
                    if (data.status === "success") {
                        alert("API Key wurde erfolgreich gespeichert!");
                        hideAPIKeyPopup();
                    } else {
                        alert("Der eingegebene API-Key ist ungültig. Bitte überprüfen Sie den API-Key und fordern Sie gegebenenfalls einen neuen an. Hinterlegen Sie anschließend den gültigen API-Key.");
                        $("#api-key-input").val("");
                    }
                });
            } else {
                alert("Sie müssen einen API Key eingeben, um die App nutzen zu können.");
            }
        }


        $("#save-api-key").click(saveAPIKey);

        function promptForAPIKey() {
            $("#api-key-input").val("");
            showAPIKeyPopup();
        }

        $("#change-api-key").click(promptForAPIKey);

        $(document).ready(function () {
            var storedAPIKey = localStorage.getItem("openai_api_key");
            if (!storedAPIKey) {
                promptForAPIKey();
            } else {
                $.post("/set-api-key", { api_key: storedAPIKey });
            }
        });

        $(document).ready(function () {
            var apiKey = localStorage.getItem("openai_api_key");
            if (!apiKey) {
                showAPIKeyPopup();
            } else {
                $.post("/set-api-key", { api_key: apiKey }, function (data) {
                    if (data.status !== "success") {
                        alert("Ein Fehler ist aufgetreten. Bitte geben Sie Ihren API Key erneut ein.");
                        showAPIKeyPopup();
                    }
                });
            }
        });

        $("#close-popup").click(function () {
            hideAPIKeyPopup();
        });

        function getSettings() {
            return {
                model: $("#gpt_model").val(),
                max_tokens: parseInt($("#max_tokens").val(), 10),
                temperature: parseFloat($("#temperature").val())
            };
        }
        
    </script>
</body>
</html>
