<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>type on AI</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
    </head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/writealong.png') }}" class="logo" id="small-logo">
            </a>
            <ul class="menu">
                <li><a href="{{ url_for('usecases') }}">Wie funktionierts?</a></li>
                <li><a href="{{ url_for('features') }}">Was sind die Features?</a></li>
                <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
                <li><a href="{{ url_for('ai') }}">AI</a></li>
                <li style="position: relative;">
                    <button id="change-api-key" class="menu-button" style="cursor: not-allowed; opacity: 0.6;" disabled>
                      API-Key ändern
                    </button>
                    <span style="visibility: hidden; width: 250px; background-color: #555; color: #fff; text-align: center; border-radius: 6px; padding: 5px; position: absolute; z-index: 1; bottom: 125%; left: 50%; margin-left: -125px; opacity: 0; transition: opacity 0.3s;" title="Der API-Key kann nur auf der Hauptseite geändert werden">
                    </span>
                </li>  
            </ul>
        </nav>
    </header>  
    <div class="container">

        <div>
            <h3>Wie funktionierts?</h3>
            <p><strong>Schritt 1:</strong> Einstellungen anpassen (GPT-3.5-turbo ist das beste frei verfügbare neuronale Netz!) </p>
            <p><strong>Schritt 2:</strong> Kontext eingeben</p>
            <p><strong>Schritt 3:</strong> Schreiben! <b style="color:#fa4b2c;">(Je mehr Text sie vorab bereitstellen, desto besser kann die KI eine zutreffendere Ausgabe berechnen!)</b></p>
            <p><strong>Schritt 4:</strong> uuuund, drücken Sie TAB!</p>
        
            <img src="static/images/tab-tab-key.gif" alt="TAB-GIF" style="width: 300px; height: auto;" />
        </div>
        <br>
        

        <h3>Was sind überhaupt die Usecases?</h3>
    
        <p>
            Die Textvervollständigungsfunktionen dieser App bieten vielfältige Anwendungsmöglichkeiten für unterschiedliche Nutzergruppen. Die App kombiniert fortschrittliche künstliche Intelligenz und Kontextinformationen, um präzise und relevante Vorschläge für Ihre Schreibprojekte zu generieren. Die Anwendungsgebiete reichen von professionellem Schreiben über soziale Medien und Marketing bis hin zum akademischen Bereich. Im Folgenden präsentieren wir Ihnen einige konkrete Usecases, die verdeutlichen, wie die Textvervollständigungsfunktionen der App in verschiedenen Szenarien eingesetzt werden können: <br><br>
        <ul>
            <li><b>Akademische Arbeiten</b>: Ob Hausarbeit, Abschlussarbeit oder Forschungsprojekt - nutzen Sie die App, um Ihre akademischen Texte effizienter zu verfassen. Geben Sie Ihre Thesen oder Argumente ein und lassen Sie die App Ihnen dabei helfen, Ihre Gedanken zu strukturieren und auszuarbeiten. Stellen Sie sicher, dass Sie wichtige Kontextinformationen wie das Forschungsgebiet, die Methodik und die Zielsetzung angeben, um relevante und wissenschaftlich fundierte Vorschläge zu erhalten.</li><br>

            <li><b>E-Mail-Korrespondenz</b>: Beginnen Sie mit einer E-Mail-Einleitung oder einer Frage und nutzen Sie die App, um passende Antworten oder Fortsetzungen zu generieren. Geben Sie zusätzliche Informationen, wie den E-Mail-Kontext oder die Beziehung zum Empfänger, ein, um präzisere und persönlichere Vorschläge zu erhalten.</li><br>

            <li><b>Erstellung von Social-Media-Beiträgen</b>: Verwenden Sie die App, um interessante und ansprechende Texte für Ihre Social-Media-Kanäle zu generieren. Stellen Sie Kontextinformationen wie die Plattform, das Thema und den gewünschten Ton zur Verfügung, um zielgruppengerechte Inhalte zu erstellen.</li><br>

            <li><b>Storytelling</b>: Starten Sie mit einer Handlung oder einer Charakterbeschreibung und lassen Sie die App die Geschichte weiterentwickeln. Geben Sie Kontextinformationen wie das Genre, den Handlungsort und die Charaktere ein, um eine kohärente und fesselnde Erzählung zu erhalten.</li><br>

            <li><b>Erstellung von Marketingtexten</b>: Beginnen Sie mit einer Produkt- oder Dienstleistungsbeschreibung und nutzen Sie die App, um ansprechende und überzeugende Marketingtexte zu erstellen. Geben Sie wichtige Informationen wie die Zielgruppe, die USPs und den gewünschten Stil ein, um zielgerichtete Werbetexte zu erhalten.</li><br>
        </ul>
        </p>
    </div>
